In [3]:
# Ans : 1
import pandas as pd
l=[4,8,15,16,23,42]
myvar=pd.Series(l)
print(myvar)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
# Ans : 2
import pandas as pd
list1=["Kiran","Pooja","Malika","Kashish","Vimla","Reetu","Beena","Pinki","Hema","Bhawana"]
list2=pd.Series(list1)
print(list2)

0      Kiran
1      Pooja
2     Malika
3    Kashish
4      Vimla
5      Reetu
6      Beena
7      Pinki
8       Hema
9    Bhawana
dtype: object

In [16]:
# Ans : 3
import pandas as pd
c={"Name":["Alice","Bob","Claire"],"Age":[25,30,27],"Gender":["Female","Male","Female"]}
c2=pd.DataFrame(c)
print(c2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# Ans : 4
'''
DataFrame in pandas : A pandas DataFrame  is a 2 dimensional data structure like 2 dimensional array or a table 
with rows and columns.
'''
'''
Difference between pandas series and pandas dataframe :
    > A Series is a one-dimensional array-like data structure with an index that labels the elements.
    > A DataFrame is a two-dimensional table-like data structure with rows and columns.
      It's a collection of Series objects sharing a common index.
'''
# Example :

import pandas as pd
# code for pandas series:
data=['A','B','C','D','E']
series=pd.Series(data)
print("Series exmple : ")
print(series)

# code for pandas dataFrame :
data1={
    "Name":["Kiran","Malika","Pooja"],
    "Age":[20,20,19]
    }
series1=pd.DataFrame(data1)
print("DataFrame example :")
print(series1)

Series exmple :
0    A
1    B
2    C
3    D
4    E
dtype: object
DataFrame example :
     Name  Age
0   Kiran   20
1  Malika   20
2   Pooja   19

In [21]:
# Ans : 5
'''
head() and tail() : These functions are used to display the first or last n rows of a DataFrame, respectively.
'''
# Example :
import pandas as pd
df=pd.read_csv("data.csv")
print(df.head(5))  # Display the first 5 rows
print(df.tail(5))  # Display the last 5 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [22]:
# Ans : 6
'''
Series and DataFrame are mutable, while a Panel is no longer available in the latest versions 
of Pandas and has been deprecated.
'''

'\nSeries and DataFrame are mutable, while a Panel is no longer available in the latest versions \nof Pandas and has been deprecated.\n'

In [25]:
# Ans : 7
import pandas as pd
name=pd.Series(["Alice","Bob","Claire"])
age=pd.Series([25,30,40])
grade=pd.Series(['A','B','A'])

series={
    "Name":name,
    "Age":age,
    "Grade":grade
}
df=pd.DataFrame(series)
print(df)

     Name  Age Grade
0   Alice   25     A
1     Bob   30     B
2  Claire   40     A